<div id="copy">
  <h1>Hello. Nice to meet you.</h1>

  <p>I am currently a student, formerly a communications professional and news producer, and hopefully I will become a web developer in the not-so-distant future.</p>
  <p>I left a great job in news and digital media at one of the best schools in the midwest in the summer of 2014 in order to enroll in Omaha Code School -- a twelve week program at which we are learning front and back end web development. It was a big risk, but one that I believe will pay off in spades.</p>
  <p>In a nutshell, I'm your typically atypical 30-year-old mom. I love to cook - but have a talent for burning. I play third base - but am afraid of the ball. I love to read - but struggle to find the right book. And I disagree that the journey is more important than the destination - although it sure can be a helluva good time.</p>
  <p>Here you can see the fruits of my labor and check out the progression of my work, should you so desire. I've also included a link in the footer for you to contact me. If you have any questions about the Code School experience or even about my previous career, just submit a question and I'll be happy to get in touch with you. It's been an interesting path, but if my experience can help anyone else chase their dreams then I'm always open to help.</p>
</div>