<h1>Jen Homann. Yep, that's me.</h1>

<p>Lorem ipsum introductory paragraph of some sort here.</p>

<p><%=link_to("My portfolio", class_projects_path)%><p> 
<p><%=link_to("Contact me", new_form_path)%></p>