<h1>This is my homepage</h1>

<p>Content TBD</p>

<p>PHOTOS of waving and then pointing up to the links.<br>
ADD speech bubble to the photos -- "hi there! welcome to my profile"<br>
ADD speech bubble to the last photo -- "check out my work through the links above"</p>


<% if current_user %>
  Logged in as <%= current_user.email %> <%= link_to("Log out", logout_path)%>
<% else %>
  <%= link_to("Sign-up", signup_path )%> | <%= link_to("Log in", logins_path)%>
<% end %>