<!-- <div id="animation"> -->
  <!-- <div class="image">      -->   
    <!-- <img src="/images/wave_1.jpg"  />
    <img src="/images/wave_2.jpg"  />
    <img src="/images/wave_3.jpg"  />
    <img src="/images/wave_4.jpg"  />
    <img src="/images/wave_5.jpg"  />
    <img src="/images/wave_6.jpg"  />
    <img src="/images/wave_7.jpg"  />
    <img src="/images/wave_8.jpg"  />
    <img src="/images/wave_9.jpg"  />
    <img src="/images/wave_10.jpg"  />
    <img src="/images/point_1.jpg"  />
    <img src="/images/point_2.jpg"  />
    <img src="/images/point_3.jpg"  />
    <img src="/images/point_1.jpg"  />
    <img src="/images/point_2.jpg"  />
    <img src="/images/point_3.jpg"  />
    <img src="/images/point_1.jpg"  />
    <img src="/images/point_2.jpg"  />
    <img src="/images/point_3.jpg"  /> -->
  <!-- </div> -->
<!-- </div> -->
  
<div class="highlight_box box1">
  This is the first highlight box -- it will have a slideshow. Maybe.
</div>

<div class="l-home-copy">
  <h1>About Jen</h1>
  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
</div>

<div class="highlight_box box2">
  This is the second highlight box. It will highlight projects/web.
</div>

<div class="l-home-copy">
  <h1>Second copy section</h1>
  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
</div>

<div class="highlight_box box3">
  This is the third highlight box. It will highlight articles/copy.
</div>