<!-- <div id="animation"> -->
  <!-- <div class="image">      -->   
    <!-- <img src="/images/wave_1.jpg"  />
    <img src="/images/wave_2.jpg"  />
    <img src="/images/wave_3.jpg"  />
    <img src="/images/wave_4.jpg"  />
    <img src="/images/wave_5.jpg"  />
    <img src="/images/wave_6.jpg"  />
    <img src="/images/wave_7.jpg"  />
    <img src="/images/wave_8.jpg"  />
    <img src="/images/wave_9.jpg"  />
    <img src="/images/wave_10.jpg"  />
    <img src="/images/point_1.jpg"  />
    <img src="/images/point_2.jpg"  />
    <img src="/images/point_3.jpg"  />
    <img src="/images/point_1.jpg"  />
    <img src="/images/point_2.jpg"  />
    <img src="/images/point_3.jpg"  />
    <img src="/images/point_1.jpg"  />
    <img src="/images/point_2.jpg"  />
    <img src="/images/point_3.jpg"  /> -->
  <!-- </div> -->
<!-- </div> -->
<div class="home_section_1">
  <div id="about_copy">
    <h2>About Jen</h2>
    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33.</p>
    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33.</p>
  </div>
  <div id="vector_jen">
    <img src="/images/vector_jen_placeholder.png">
  </div>
</div>

<div class="home_section_2">
  <div class="web_copy_video box1">
    <h3>Web</h3>
    <p>This box is for the web section</p>
    <p>More web content</p>
    <p>Third row of web content</p>
    <p>Fourth row of web content.</p>
  </div>
  <div class="web_copy_video box2">
    <h3>Copy</h3>
    <p>This box is for the copy section</p>
    <p>More copy content</p>
    <p>Third row of copy content</p>
    <p>Fourth row of copy content.</p>
  </div>
  <div class="web_copy_video box 3">
    <h3>Video</h3>
    <p>This box is for the video section</p>
    <p>More video content</p>
    <p>Third row of video content</p>
    <p>Fourth row of video content.</p>
  </div>
</div>