<div id="animation">
  <!-- <div class="image">      -->   
    <img src="/images/wave_1.jpg"  />
    <img src="/images/wave_2.jpg"  />
    <img src="/images/wave_3.jpg"  />
    <img src="/images/wave_4.jpg"  />
    <img src="/images/wave_5.jpg"  />
    <img src="/images/wave_6.jpg"  />
    <img src="/images/wave_7.jpg"  />
    <img src="/images/wave_8.jpg"  />
    <img src="/images/wave_9.jpg"  />
    <img src="/images/wave_10.jpg"  />
    <img src="/images/point_1.jpg"  />
    <img src="/images/point_2.jpg"  />
    <img src="/images/point_3.jpg"  />
    <img src="/images/point_1.jpg"  />
    <img src="/images/point_2.jpg"  />
    <img src="/images/point_3.jpg"  />
    <img src="/images/point_1.jpg"  />
    <img src="/images/point_2.jpg"  />
    <img src="/images/point_3.jpg"  />
  <!-- </div> -->
</div>