<!-- <div id="animation"> -->
  <!-- <div class="image">      -->   
    <!-- <img src="/images/wave_1.jpg"  />
    <img src="/images/wave_2.jpg"  />
    <img src="/images/wave_3.jpg"  />
    <img src="/images/wave_4.jpg"  />
    <img src="/images/wave_5.jpg"  />
    <img src="/images/wave_6.jpg"  />
    <img src="/images/wave_7.jpg"  />
    <img src="/images/wave_8.jpg"  />
    <img src="/images/wave_9.jpg"  />
    <img src="/images/wave_10.jpg"  />
    <img src="/images/point_1.jpg"  />
    <img src="/images/point_2.jpg"  />
    <img src="/images/point_3.jpg"  />
    <img src="/images/point_1.jpg"  />
    <img src="/images/point_2.jpg"  />
    <img src="/images/point_3.jpg"  />
    <img src="/images/point_1.jpg"  />
    <img src="/images/point_2.jpg"  />
    <img src="/images/point_3.jpg"  /> -->
  <!-- </div> -->
<!-- </div> -->
<div class="home_section_1">
  <div id="about_copy">
    <h2>Hi there!</h2>
    <p>I am currently a student, formerly a communications professional and news producer, and hopefully I will become a web developer in the 
      not-so-distant future.</p>
    <p>I left a great job in news and digital media at one of the best schools in the midwest in the summer of 2014 in order to enroll in Omaha 
      Code School -- a twelve week program at which we are learning front and back end web development. It was a big risk, but one that I 
      believe will pay off in spades.</p>
    <p>Here you can see the fruits of my labor and check out the progression of my work, should you so desire. I've also included a link in the 
      footer for you to contact me. If you have any questions about the Code School experience or even about my previous career, just submit a 
      question and I'll be happy to get in touch with you. It's been an interesting path, but if my experience can help anyone else chase their 
      dreams then I'm always open to help.</p>
  </div>
  <div id="vector_jen">
    <img src="/images/jen_face_drawing.jpg">
  </div>
</div>

<div class="home_section_2">
  <div class="web_copy_video box1">
    <img src="/images/web_vector.jpg">
    <h3>WEB</h3>
    <p>Web copy here. I don't really know what I want to say about my web development skills. Hmmm...Yeah...Let's see.</p>
  </div>
  <div class="web_copy_video box2">
    <img src="/images/copy_vector.jpg">
    <h3>COPY</h3>
    <p>Copywriting used to be my bread and butter. Let me build you a website, AND fill it with killer content.</p>
  </div>
  <div class="web_copy_video box 3">
    <img src="/images/video_vector.jpg">
    <h3>VIDEO</h3>
    <p>From first concept to production, I have had my hands in every step of video production for the better part of a decade.</p>
  </div>
</div>