#featured:before, #featured:after, #index:before, #index:after {
  content: " ";
  display: table;
}

#featured:after, #index:after {
  clear: both;
}
#featured {
  float: left;
  width: 655px;
}

#index {
  float: right;
  width: 655px;
  margin-top: -120px;
  margin-left: -60px;
}

#content p {
  color: #7C7C7C;
}

#content h1 {
  color: #7C7C7C;
}

#show {
  margin: 60px 100px 0 100px;
}