#featured:before, #featured:after, #index:before, #index:after {
  content: " ";
  display: table;
}

#featured:after, #index:after {
  clear: both;
}

#featured {
  float: left;
  width: 455px;
  height: 660px;
  color: #7C7C7C;
  padding: 20px 100px 0 100px;
}

#featured img {
  width: 320px;
  height: 190px;
}

#index {
  float: right;
  height: 660px;
  width: 455px;
  margin-top: 20px;
  padding: 20px 0 0 100px;
  color: #7C7C7C;
}

.show_left {
  color: #7C7C7C;
  float: left;
  width: 555px;
  margin: 50px 0 0 20px;
}
.show_left h1 {
  text-align: center;
  margin-left: 60px;
}

.show_right {
  color: #7C7C7C;
  float: right;
  width: 455px;
  margin-right: 100px;
  padding-top: 120px;
}

.form p {
  color: #7C7C7C;
}

.form h1 {
  color: #7C7C7C;
}