body {
  font-family: Walter Turncoat, sans-serif;
}

a {
  text-decoration: none;
}

%full_width_and_clear_both {
  width: 100%;
  clear: both;
}

@mixin home_section_background($color) {
  height: 400px;
  background: $color;
  @extend %full_width_and_clear_both;
  color: #134A84;
}

#container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

header {
  border-top: 1px solid #2B7EB5;
  width: 100%;
  height: 150px;
  background: #2B7EB5;
}
  
  #logo a {
    color: white;
    font-size: 60px;
    margin-left: 60px;
  }
  
  #logo p {
    padding-top: 30px;
  }
  
  #top_nav_container {
    float: right;
    height: 150px;
    width: 606px;
  }

    .l-top_nav {
      float: left;
      margin-top: 22px;
      height: 100px;
      width: 200px;
    }
    
    .l-top_nav a {
      color: white;
    }
    
    .l-top_nav p {
      padding-top: 20px;
      font-size: 20px;
    }
    
.arrow_border {
  @extend %full_width_and_clear_both;
}

#content {
  @extend %full_width_and_clear_both;
}

#about_copy {
  height: 340px;
  width: 55%;
  float: left;
  margin: 20px 60px 60px 100px;
  text-align: justify;
}

#vector_jen {
  height: 400px;
  float: right;
  margin: 40px 100px 0 20px;
}

.home_section_1 {
  @include home_section_background(white);
}

.home_section_2 {
  @include home_section_background(#134A84);
  padding-left: 20px;
  padding-bottom: 40px;
}

.web_copy_video {
  height: 300px;
  float: left;
  padding: 20px 60px 0 60px;
  margin: 60px 60px -60px 60px;
  text-align: center;
  background: white;
  border-radius: 10px;
}

footer {
  @extend header;
  @extend %full_width_and_clear_both;
  margin-top: -5px;
}

.social_link {
  float: left;
}

.social_link a {
  color: white;
  @extend .l-top_nav;
}

#contact_me {
  float: left;
  margin-top: 22px;
  height: 100px;
  width: 200px;
  color: white;
}

#contact_me a {
  color: white;
}

.hidden_login a, {
  color: #2B7EB5;
}

.hidden_login p {
  color: #2B7EB5;
}