header:before, header:after, footer:before, footer:after {
  content: " ";
  display: table;
}

header:after, footer:after {
  clear: both;
}

body {
  background: #D7D7D7;
  width: 100%;
  font-family: Open Sans;
  color: #505050;
}

#container {
  background: #B6B6B6;
  width: 1300px;
  margin: 0 60px 0 60px;
}

header {
  background: white;
  width: 1300px;
  height: 80px;
  position: fixed;
  z-index: 9999;
  border-bottom: 2px solid #505050
}

.top_nav {
  float: left;
  height: 80px;
  width: 160px;
  font-family: Special Elite;
}

.top_nav p {
  margin: 50px;
}

.top_nav a {
  text-decoration: none;
}

#logo {
  float: right;
  font-size: 52px;
  margin: 15px 100px 0 0;
  height: 80px;
  font-family: Special Elite;
}

#logo p {
  margin: 10px;
}

#logo a {
  text-decoration: none;
}

#content {
  background: white;
  color: white;
  height: 640px;
  padding-top: 80px;
  position: relative;
}

#animation {
  position: relative;
  background: white;
  height: 620px;
  width: 1300px;
}

#animation img {
  position: absolute;
  top: 0;
  left: 0;
}

footer {
  background: white;
  height: 80px;
  width: 1300px;
  position: fixed;
  z-index: 8888;
  top: 720px;
  border-top: 2px solid #505050;
  font-family: Special Elite;
}

.social_link {
  float: left;
  height: 60px;
/*  width: 80px;*/
}

.social_link p {
  margin: 10px 0 0 50px
}

.social_link a {
  text-decoration: none;
}

#contact_me {
  float: right;
  margin: -8px 100px 0 0;
}

#contact_me a {
  text-decoration: none;
}

.hidden_login {
  color: white;
}

.hidden_login a {
  color: white;
}
#notice {
  color: green;
}

#alert {
  color: red;
}

#copy {
  width: 1100px;
  margin: 0 auto;
  padding-top: 40px;
  color: #505050;
}